.has-bg-about { background: url('/images/about.jpg') center center; background-size:cover;}
@media (max-width: 768px) {.has-bg-about { background:url('/images/about-vertical.jpg') center center; background-size:cover; height: 315px; } .hero {padding: 0px; margin:0px}}

.image-box {
    /* Here's the trick thanks to https://dev.to/selbekk/how-to-overlay-your-background-images-59le */
  /* Here's the trick */
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , var(--image-url) center center;
  background-size: cover;
  /* Here's the same styles we applied to our content-div earlier */
  color: white;
  /* min-height: 50vh; santm */
  display: flex;
  align-items: initial; /*santm */
  justify-content: inherit; /* santm */
      }
  .image-box:hover {
      box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.2);
  }
  .navbar-burger-color{
    color: #000000;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  font-family: 'Abril Fatface','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  h1 {
      font-size: 80px;
      margin-top: 0;
      font-family: 'Abril Fatface','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 800;
  }
  }
  @media only screen and (max-width: 767px) { h1 {
    font-size: 50px;
    margin-top: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}}
/* hide background on small screen -santm 
@media (max-width: 512px) { .image-box {
    background-image: none;
}} */
