.has-bg-about { background: url('/images/about.jpg') center center; background-size:cover;}
@media (max-width: 768px) {.has-bg-about { background:url('/images/about-vertical.jpg') center center; background-size:cover; height: 315px; } .hero {padding: 0px; margin:0px}}

.image-box {
    /* Here's the trick thanks to https://dev.to/selbekk/how-to-overlay-your-background-images-59le */
  /* Here's the trick */
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) , var(--image-url) center center;
  background-size: cover;
  /* Here's the same styles we applied to our content-div earlier */
  color: white;
  /* min-height: 50vh; santm we disabled this*/
  display: flex;
  align-items: initial; /*santm original was center*/
  justify-content: inherit; /* santm original was center*/
}
.image-box:hover {
      box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.1);
}
.navbar-burger-color{
    color: #000000;
}

.icon {
  color:hsl(0, 0%, 71%);
  /*padding: 10px ;  color:hsl(0, 0%, 71%); */
  margin-left: 15px;
}
#icon-facebook:hover {
              color: rgba(61,90,152, 0.8); }
#icon-instagram:hover {
              color: rgba(228,64,95,1); }
#icon-linkedin:hover {
              color: rgba(0,119,181,1); }
#icon-envelope:hover {
              color: rgba(221,75,57,1); }
#icon-rss:hover {
              color: rgba(255,130,40,1);}
#icon-copy:hover {
              color: rgba(235, 231, 12,1);}
#icon-tumblr:hover {
              color: rgba(52,70,93,1);}
.footer{
  /*background-color:#344157; color:#fff !important*/
  border-top:1px solid hsl(0, 0%, 71%);
}
/*santm for the mouse scroll on home page */
.demo a {
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #000;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}


#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#section10 a span::after {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 18px;
  height: 18px;
  content: '';
  margin-left: -9px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
/*santm for the mouse scroll on home page */
/*santm for the instagram picture text */
/*With Simple Caption*/

/*santm for the instagram picture text */
/* The overlay effect - lays on top of the container and over the image
https://github.com/hasinhayder/ImageCaptionHoverAnimation/blob/master/index4.html
We work on this later
*/
.image_left{
	float: left;
	width: 300px;
	border: 3px solid #eee;
	padding: 10px;
}
.image_right{
	float: right;
	width: 300px;
	border: 3px solid #eee;
	padding: 10px;
}