<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}

    <body>
      <!-- Navigation Bar -->
      <nav class="navbar is-link is-fixed-top">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
           <span class="navbar-item"><a class="button is-white is-outlined" href="#"><span class="icon"><i class="fa fa-home"></i></span><span>Home</span></a></span>
           <span class="navbar-item"><a class="button is-white is-outlined" href="/posts/"><span class="icon"><i class="fas fa-newspaper"></i></span><span>Posts</span></a></span>
           <span class="navbar-item"><a class="button is-white is-outlined" href="/about/"><span class="icon"><i class="fas fa-info"></i></span><span>About</span></a></span>
           <span class="navbar-item"><a class="button is-white is-outlined" href="/contact/"><span class="icon"><i class="fas fa-id-card"></i></span><span>Contact</span></a></span>
          </div>
        </div>
      </nav>      
      <!-- Header -->
      <section class="hero is-link is-bold is-fullheight is-fullheight-with-navbar">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1"> Hello! Namaste !</h1>
            <h2 class="subtitle is-4">Bienvenu, santm.com is a now 20 years young website. </p>Please the Blog/Post section for more.</h2></p>Parts of the web site might be broken due to frequent changes</h2>
          </div>
        </div>
      </section>   
    </body>
     
      <script async type="text/javascript" src="../js/bulma.js"></script>
    </body>
</html>
