{{ define "main" }}
<section class="hero is-primary is-bold">
  {{ partial "header" . }} 
  <div class="hero-body">
  <div class="container has-text-centered">
    <br><h1 class="my_h1">{{ .Page.Title}}</h1>    
  </div>
  </div>
</section>
  
<section>
  <div class="container is-fluid column is-8 is-offset-2">
    <div class="content blog-post section has-text-justified" itemprop="articleBody">
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}


      <table class="table is-striped is-hoverable">
        {{- range .Data.Pages.GroupByDate "2006" }}
      <tr>
        <th class="has-text-centered" colspan="3">
          {{ .Key }}
          </th>
        </tr>  <!--<div class="is-divider" data-content="{{ .Key }}"></div> -->
        {{ range .Pages }}
        <tr>
          <td class="is-hidden-mobile has-text-right">{{ .Date.Format "Jan 2, 2006"}}</td>
          <td>
            <a href="{{.Permalink}}">{{.Title}}</a>
            </td>
          </tr>
        {{ end }}
        {{ end }}
</table>
</div>
</div>
</section>
    
  <!-- testing -->

</main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
