{{ define "header" }} {{ partial "menu" . }} {{ end }}

{{ define "main" }}
<div class="has-shadow" itemscope itemtype="http://schema.org/BlogPosting">
<section class="hero is-light is-bold">
  <div class="hero-body">
  <div class="container has-text-centered">
    <br><h1 class="title is-2">{{ .Page.Title}}</h1>
    <span class="icon"><i class="fa fa-tags"></i></span>
      {{ $taxo := "tags" }} <!-- Use the plural form here <span class="icon"><i class="fa fa-clock-o"></i></span> on-->
      {{ range .Param $taxo }}
          {{ $name := . }}
          {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
              <a href="{{ .Permalink }}">{{ $name }}</a>
          {{ end }}
      {{ end }}
      <h4> {{ .PublishDate.Format "January 2, 2006" }}</h4>
    </div>
  </div>
</section>
<section class="section blog">
       <div class="container">
         <div class="columns is-mobile">
           <div class="column">
             <div class="content blog-post section has-text-justified" itemprop="articleBody">
               <br />
         {{ .Content}}
         </div>
         </div>
         </div>
         </div>
</section>
</div>

   <div class="container">
        <div class="tabs">
          <p class="control">
            {{if .PrevPage}}
            <a class="button is-light" href="{{.PrevPage.Permalink}}" title="{{.PrevPage.Page.Title}}"><span class="icon is-small">
            <i class="fa fa-angle-double-left"></i></span><span>Previous</span></a>
            {{end}}
          </p>
          <p class="control">
            {{if .NextPage}}
            <a class="button is-light" href="{{.NextPage.Permalink}}" title="{{.Next.Page.Title}}"><span>Next</span>
              <span class="icon is-small"><i class="fa fa-angle-double-right"></i></span></a>
            {{end}}
          </p>
        </div>
    </div> 
</main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
