{{ define "main" }} 
<section class="hero is-medium is-dark image-box" style="--image-url: url(/images/about.jpg)"> 
  <!--is-dark here makes the burger background to dark-->
  {{ partial "header" . }} 
  <div class="hero-body">
  <div class="container has-text-centered">
    <h1>{{ .Page.Title}}</h1>
    </div>
  </div>
</section>
<section>
  <div class="container is-fluid column is-8 is-offset-2">
    <div class="content blog-post section has-text-justified" itemprop="articleBody">
    {{ .Content}}
    </div>
    </div>
</section>
</main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
