{{ define "main" }}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script data-cfasync="false" type="text/javascript" src="/js/aaa.js"></script>
<section class="hero is-medium is-dark image-box" style="--image-url: url(/images/contact.jpg)">
  {{ partial "header" . }} 
  <div class="hero-body">
  <div class="container has-text-centered">
    <h1>{{ .Page.Title}}</h1>
    </div>
  </div>
</section>
<section class="hero">
          <div class="hero-body">
              <div class="container">
                <div class="columns is-5-tablet is-4-desktop is-3-widescreen">
                    <div class="column"><div class="field has-text-justify has-text-grey-dark">Really looking forward for your mesg! Will reply as soon as I can. Only request  <span class="has-text-danger has-text-weight-bold"> do not contact</span> for  linkback and do not <span class="has-text-danger has-text-weight-bold">spam!</span></div>
                        <form id="myForm" class="box gform" method="POST" action="https://script.google.com/macros/s/AKfycbw3Xx6n3eHMUIcGh8kIOLToVdYfYtcVyJu9M79hWUs8_iEgzvqo/exec">
                           
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control has-icons-left">
                                    <input id="name" name="name" type="name" class="input" placeholder="What your friends call you! " required>
                                    <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input id="email" name="email" type="email" class="input" placeholder="e.g. your_name@mailserver.com">
                                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Message</label>
                                <div class="control"><textarea class="textarea" placeholder="Please type your message here....."></textarea></div>
                            </div> 
                                
                            <div class="field is-grouped">
                                <div class="control">
                                  <button class="button is-link">Send message&nbsp;&nbsp;&nbsp;<i class="far fa-paper-plane"></i></button>
                                </div>
                                <div class="control">
                                  <button class="button is-link is-light" input type="button" onclick="myFunction()">Cancel</button>
                                </div>
                              </div>    
                              <div class="g-recaptcha" data-sitekey="6LfxaeQUAAAAAKxeMj-J6Gvpzdg5kAJOlsKAvrum"></div>
                              <div style="display:none" class="thankyou_message">
                                <!-- You can customize the thankyou message by editing the code below -->
                                <article class="message is-success">
                                  <div class="message-header">
                                    <p>Success Mail Sent</p>
                                  </div>
                                  <div class="message-body">
                                    <strong>Thank You!</strong>, for your message. We will get back to you at the earliest.
                                  </br>
                                  <em>Best Regards</em>
                                  </div>
                                </article>
                               </div>
                        </form>
                        </div>
                </div>
              </div>
          </div>
      </section>
</div>

<script>
    function myFunction() {
      document.getElementById("myForm").reset();
    }
</script>
</main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}