{{ define "main" }}
<section class="hero is-medium is-dark image-box" style="--image-url: url(/images/search-1.jpg)">
  {{ partial "header" . }} 
  <div class="hero-body">
  <div class="container has-text-centered">
    <h1>{{ .Page.Title}}</h1>
    </div>
  </div>
</section>
<section class="section blog">
       <div class="container">
         <div class="columns is-mobile">
           <div class="column">
             <div class="content blog-post section has-text-justified" itemprop="articleBody">
               <br />
               <div class="container is-fluid column is-8 is-offset-2">
         {{ .Content}}
         <script src="https://unpkg.com/lunr/lunr.js"></script>
  <script src='/search.js'></script>

<div class="control">
          <input class="input" id="search-input" type="text" placeholder="What are you looking for?" name="search-input" class="form-control">
</div>
<div id="search-results" class="container"></div>

         </div>
         </div>
         </div>
         </div>
</section>
</div>


</main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
